In [ ]:
#We will get the same results with nested for loop and one for loop
rows = 6
print("Solution with nested for loop:")
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end="")
    print()

print("\nSolution with one for loop: ")
for i in range(1,rows+1):
  print("*" * i)

Solution with nested for loop:
*
**
***
****
*****
******

Solution with one for loop:
*
**
***
****
*****
******

In [ ]:
rows = 6
print("Solution with nested for loop")
for i in range(0, rows):
  for j in range(0, i+1):
    if j == 0:
      print(" "* (rows-i) + "*", end="")
    else:
      print("*", end="")
  print()

print("\nSolution with one for loop")
for i in range(1, rows+1):
  print(" "* (rows-i) + "*"*i)

Solution with nested for loop
      *
     **
    ***
   ****
  *****
 ******

Solution with one for loop
     *
    **
   ***
  ****
 *****
******

In [ ]:
rows = 6
print("Solution with nested for loop")
for i in range(rows, 0, -1):
    for j in range(0, i):
        print("*", end="")
    print()

print("\nSolution with one for loop")
for i in range(rows, 0, -1):
    print ("*" * i)

Solution with nested for loop
******
*****
****
***
**
*

Solution with one for loop
******
*****
****
***
**
*

In [ ]:
rows = 6
print("Solution with nested for loop")
for i in range(rows, 0, -1):
  for j in range(0, i):
    if j == 0:
      print(" "* (rows-i) + "*", end="")
    else:
      print("*", end="")
  print()

print("\nSolution with one for loop")
for i in range(rows, 0, -1):
  print(" "* (rows-i) + "*"*i)

Solution with nested for loop
******
 *****
  ****
   ***
    **
     *

Solution with one for loop
******
 *****
  ****
   ***
    **
     *

In [ ]:
for i in range(6):
    for k in range(-6, -i):
        print(" ", end="")
    for j in range(i+1):
        print("* ", end="")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [ ]:
rows = 6
print("solution with nested for")
for i in range(0, rows):
  for j in range(0, i+1):
    if j == 0:
      print(" "* (rows-i) + "*"*2, end="")
    else:
      print("*"*2, end="")
  print()

print("\nsolution with one for")
for i in range(1, rows+1):
  print(" "* (rows-i) + "*"*i*2)

solution with nested for
      **
     ****
    ******
   ********
  **********
 ************

solution with one for
     **
    ****
   ******
  ********
 **********
************

In [ ]:
rows = 6
print("solution with nested for")
for i in range(rows, 0, -1):
  for j in range(0, i):
    if j == 0:
      print(" "* (rows-i) + "*"*2, end="")
    else:
      print("*"*2, end="")
  print()

print("\nsolution with one for")
for i in range(rows, 0, -1):
  print(" "* (rows-i) + "*"*i*2)

solution with nested for
************
 **********
  ********
   ******
    ****
     **

solution with one for
************
 **********
  ********
   ******
    ****
     **

In [ ]:
rows = 6
print("\nsolution with one for")
for i in range(1, rows+1):
  print("*" * i + " "* ((rows-i)*2) + "*"*i)

solution with one for
*          *
**        **
***      ***
****    ****
*****  *****
************